@import "tailwindcss";
@import "tw-animate-css";

/* Enable dark mode via class */
:root {
  color-scheme:  dark;
}

* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

/* .sms-header {
    padding-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.25);
} */
